# 1절 변수
## 1.1 변수 선언
    - 별도의 변수 선언과정 없음
## 1.2 변수 할당
    - 대입연산자(=) 사용

In [5]:
import numpy as np
print('제공되는 pi값은', np.pi)
r = 5
area = np.pi * r * r
print("계산된 넓이는", area)
print('area타입은', type(area))
print('area 주소는', id(area))

제공되는 pi값은 3.141592653589793
계산된 넓이는 78.53981633974483
area타입은 <class 'float'>
area 주소는 2592622362256

In [7]:
area = 10
print("area 값은", area)
print('area 타입은', type(area))
print('area 주소는', id(area))

area 값은 10
area 타입은 <class 'int'>
area 주소는 140707485303880

In [8]:
area = '파이썬이 좋아요'
print("area 값은", area)
print('area 타입은', type(area))
print('area 주소는', id(area))

area 값은 파이썬이 좋아요
area 타입은 <class 'str'>
area 주소는 2592689188048

## 1.3 변수이름 규칙
    - 문자(특수문자는 _제외하고 안됨), 숫자, _로 명명
    - 문자로 시작
    - 파이썬에서 제공되는 기본 함수명 피하자. 꼭 써야한다면 int_식으로 _를 붙임
    - 파이썬 예약어는 변수명 불가(ex. if)

In [9]:
# 파이썬 변수는 함수 할당 가능
print = 5

In [11]:
print('a') # 함수 기능이 사라짐

TypeError: 'int' object is not callable

In [12]:
del print

print('a')

In [16]:
i = 3 + 3j #복소수
type(i)

complex

In [24]:
a, b = 10, 20 #다중 선언

In [25]:
a, b

(10, 20)

In [26]:
a, b = b, a+b #다중 선언
print('a = ', a, '\t b = ', b)

a =  20 	 b =  30

## 1.4 도움말

In [29]:
# 도움말 기능 : 함수내에서 shift+tab키
print('a', 'b', sep = '~')

a~b

In [30]:
def make_number(x, y = 0):
    """doc ctring(함수의 도움말)
    매개변수 2개를 이용해서 2자리 정수를 만들어요
    x = 10의 자리수
    y = 1의 자리수 (default값 0)
    """
    return x * 10 + y

In [31]:
make_number(3, 2)

32

In [32]:
make_number(5) # y입력안하면 0

50

In [33]:
make = make_number # 함수를 변수에 할당

In [34]:
make(6)

60

## 1.5 변수 삭제

In [35]:
del make

In [36]:
make(6)

NameError: name 'make' is not defined

# 2절 화면 I/O

In [39]:
first = input('첫번째 숫자는?') # 문자로 return
second = input('두번째 숫자는?')

첫번째 숫자는? 10
두번째 숫자는? 30

In [40]:
print('두수의 합은 {}'.format(first + second)) # 문자 + 문자

두수의 합은 1030

In [6]:
first = int(input('첫번째 숫자는?')) # 형변환
second = int(input('두번째 숫자는?'))

첫번째 숫자는? 10
두번째 숫자는? 30

In [7]:
print('두수의 합은 {}'.format(first + second))

두수의 합은 40

In [4]:
print('Hello', 'world', sep='~', end='\t')
print('Hello', 'Python')

Hello~world	Hello Python

# 3절 기본 자료형

## 3.2 문자형

In [1]:
name = "홍길동'님'"
name = '홍길동"님"'
address = "서울시 \"금천구\" \
가산디지털1로"

In [3]:
text = "안녕하세요\n홍길동입니다\n반갑습니다"
print(text)

안녕하세요
홍길동입니다
반갑습니다

In [8]:
text = """안녕하세요
홍길동입니다
반갑습니다
"""
print(text)

안녕하세요
홍길동입니다
반갑습니다

In [9]:
# 문자열 슬라이싱

In [10]:
str_ = "0123456789"
str_

'0123456789'

In [12]:
str_[0 : 3] # 0번째부터 3번째 앞까지

'012'

In [15]:
str_[-3] # 음수인덱스는 뒤에서부터

'7'

In [16]:
str_[-5 : -1]

'5678'

In [21]:
str_[5:] # 5번째 인덱스부터 끝까지

'56789'

In [22]:
str_[:-5] # 처음부터 -5번째 앞까지

'01234'

In [23]:
# str_[19] #없는 인덱스는 에러남
str_[5 : 19] # 슬라이싱에서는 인덱스를 벗어나면 끝까지

'56789'

In [24]:
# str_[from : to : step]
print(str_[0 : 9 : 2]) # 0번째부터 9번째 앞까지 2씩 인덱스 증가해서
print(str_[ : : 2]) # 처음부터 끝까지 2씩 인덱스 증가해서

02468
02468

In [28]:
# 끝부터 처음까지 (거꾸로)
print(str_[9 : : -1])
print(str_[: : -1])

9876543210
9876543210

## 3.3 논리형 (True, False)

In [29]:
a = True
print(a)
print(type(a))
print(isinstance(a, bool)) # a가 bool형이냐?

True
<class 'bool'>
True

In [30]:
# False로 간주하는 것 : 0, None, ""(빈스트링) ''(빈스트링) [] (), {}
# True로 간주하는 것 : " ", '\0'(NULL)

In [31]:
if 0+0j:
    print('True')
else:
    print('False')

False

## 3.4 자료형 확인 및 변환
    - type() : 자료형 확인
    - int() : 정수형 변환
    - floar() : 실수형 변환
    - str() : 문자형 변환
    - bool() : 논리형 변환

In [32]:
int('10')

10

In [34]:
int('2000')

2000

In [35]:
float(True)

1.0

# 4절 포맷팅

In [36]:
name = "홍길동"
add = "서울시 금천구"
print("이름은 {0}, 주소는 {1}".format(name, add))

이름은 서울시 금천구, 주소는 홍길동

In [38]:
print("이름은 %s, 주소는 %s"%(name, add))

이름은 홍길동, 주소는 서울시 금천구

In [39]:
print(f"이름은 {name}, 주소는 {add}")

이름은 홍길동, 주소는 서울시 금천구

In [40]:
# format()함수
# - "{[인덱스] : [공백대체문자][정렬방법][자릿수][타입]}".format(변수명, ...)
#     - 정렬방법 : <(왼쪽정렬), >(오른쪽정렬), ^(가운데정렬)
#     - 타입 : d(10진수), x(16진수), b(2진수), f(실수), s(문자)

In [55]:
a = 10
s = 'Hello'
print(" [{0:$>10d}], [{1:*<20.2}]".format(a, s))

 [$$$$$$$$10], [He******************]

# 5절 연산자
## 5.1 산술연산자 
    : + - / * //(몫) %(나머지) **(제곱)
## 5.2 할당연산자 
    : = += -= /= 
## 5.3 논리연산자 
    : & | and or not(연산자 우선순위가 높음)
## 5.4 비트연산자 
    : & |  ^(or) (연산자 우선순위가 높음)

In [57]:
print( (10 > 3) & (10 > 5) ) # 논리 연산자 True & True

True

In [58]:
print( 12 & 1 ) # 비트연산 12 : 1 1 0 0
                #           1: 0 0 0 1
print( 12 | 1 )

0
13

## 5.5 비교연산자
    : > >= < <= == !=

In [59]:
'아' < '하'

True

In [60]:
'*' < '1' < 'A' < 'a' # 코드 순 : 특수문자 < 숫자 < 대문자 < 소문자

True

In [62]:
score = 85
80 <= score< 90 < 100

True

# 6절 문자열 다루기
    - 문자열 슬라이싱 : 문자변수[from:to:step]
    - len(문자열) : 문자갯수
    - upper() : 대문자
    - lower() : 소문자로
    - title() : 각 단어의 앞글자만 대문자로
    - capitalize() : 첫문자만 대문자로, 그 외는 소문자로
    - count('찾을 문자열') : 찾을 문자열이 몇개 들어있는지 갯수 반환
    - find('찾을 문자열') : 찾을 문자열을 왼쪽부터 시작하여 몇번째 인덱스에 있는지 index반환 (찾을 문자열이 없으면 -1을 반환)
    - rfind('찾을 문자열') : 찾을 문자열을 오른쪽부터 시작하여 몇번째에 있는지 index반환
    - startswith('특정문자열') : 특정문자열로 시작하는지 여부 T/F 반환
    - endswith('특정문자열'): 특정문자열로 끝나는지 여부 T/F 반환
    - strip() : 좌우 공백제거
    - lstrip() : 왼쪽 공백제거
    - rstrip() : 오른쪽 공백제거
    - isdigit() : 문자열이 숫자 문자열인지 여부 T/F 반환
    - islower() : 문자열이 소문자인지 여부 T/F 반환
    - isupper() : 문자열이 대문자인지 여부 T/F 반환
    - replace(oldStr, newStr) : oldStr을 newStr 변경

In [65]:
# 문자열을 다룰 수 있는 함수 목록
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [85]:
temp = 'Python is easy. Python is smart.'
#       01234567890123456789012345678901
print('대문자로 : ', temp.upper())
print('첫글자만 대문자 : ', temp.capitalize())
print('title() : ', temp.title())
print('count() : ', temp.count('Python'))
print('find() : ', temp.find('Python'))
print('rfind() : ', temp.rfind('Python'))
print("replace('Python', ' ') : ", temp.replace("Python", " "))
#print("startswith('Python') :", temp.startswitch("Py"))

대문자로 :  PYTHON IS EASY. PYTHON IS SMART.
첫글자만 대문자 :  Python is easy. python is smart.
title() :  Python Is Easy. Python Is Smart.
count() :  2
find() :  0
rfind() :  16
replace('Python', ' ') :    is easy.   is smart.

In [74]:
temp = "    Python    "
print("temp : [{}]".format(temp))
print("strip : [{}]".format(temp.strip()))
print("lstrip : [{}]".format(temp.lstrip()))
print("rstrip : [{}]".format(temp.rstrip()))

temp : [    Python    ]
strip : [Python]
lstrip : [Python    ]
rstrip : [    Python]

In [66]:
print("첫번째 글자 : {}, 마지막 글자 : {}".format(temp[0], temp[-1]))

첫번째 글자 : P, 마지막 글자 : .

In [77]:
temp = 'Python is easy. Python is smart'
print('space단위로 분리하여 list로 반환 : ', temp.split())

space단위로 분리하여 list로 반환 :  ['Python', 'is', 'easy.', 'Python', 'is', 'smart']

In [84]:
temp = "2024-05-30"
temp_list = temp.split('-')
temp_join = '~'.join(temp_list)
print('년월일 분리 : ', temp_list)
print('연결된 temp :', temp_join)

년월일 분리 :  ['2024', '05', '30']
연결된 temp : 2024~05~30

# 7절 날짜 다루기
## 7.1 날짜

In [87]:
from datetime import date
someday = date(2024, 5, 30)
someday

datetime.date

In [88]:
print("{:%Y년%m월%d일 %H시 %M분}".format(someday))

2024년05월30일 00시 00분

In [90]:
today = date.today() # 오늘
print("{:%Y년%m월%d일 %H시 %M분}".format(someday))

2024년05월30일 00시 00분

## 7.2 시간

In [91]:
from datetime import datetime
now = datetime.today()
print("{:%Y년%m월%d일 %H시 %M분}".format(now))

2024년05월30일 12시 48분

# 8절 연습문제

In [95]:
# 1. 사용자로부터 이름과 나이 변수를 입력받아 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요
# [출력형식 : 홍길동님의 나이는 23살입니다]
name = input('이름 : ')
age = int(input('나이 : '))
print('{}님의 나이는 {}살입니다'.format(name, age))

이름 :  김도훈
나이 :  28

김도훈님의 나이는 28살입니다

In [110]:
# 두 정수를 입력받아 두 수의 덧셈, 뺄셈, 곱셈, 나눗셈, 몫, 나머지를 출력하세요
num1 = int(input('숫자1 : '))
num2 = int(input('숫자2 : '))
print('{} + {} = {}'.format(num1, num2, num1 + num2))
print('{} - {} = {}'.format(num1, num2, num1 - num2))
print('{} * {} = {}'.format(num1, num2, num1 * num2))
try:
    print('{} // {} = {}'.format(num1, num2, num1 // num2))
    print('{} / {} = {}'.format(num1, num2, num1 / num2))
    print('{} % {} = {}'.format(num1, num2, num1 % num2))
except:
    print('두번째 정수에 0을 넣으면 안됩니다')

숫자1 :  10
숫자2 :  2

10 + 2 = 12
10 - 2 = 8
10 * 2 = 20
10 // 2 = 5
10 / 2 = 5.0
10 % 2 = 0

In [105]:
#3. 문자열의 분리하기와 합치기 기능을 이용하여 'Hello World'가 할당된 변수를 이용하여 'World Hello'로 출력하세요
str_ = 'Hello World'
str_.split()
#str_join = ' '.join([str_.split[1], str_.split[0]])

['Hello', 'World']

In [111]:
# 4. x = 'abcdef'를 이용하여 'bcdefa'로 출력하세요 (문자 슬라이싱이용)
x = 'abcdef'
print(x[1:]+x[0])

bcdefa

In [112]:
# 5. x = 'abcdef'를 이용하여 'fedcba'로 출력하세요

In [113]:
# 6. 오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요. 화씨 온도는 소수점이 있을 경우만 두번째 자리까지 출력되고,
# 소수점이하 값이 없는 경우 소수점을 출력하지 않도록 합니다. (다음은 섭씨와 화씨의 변환 공식입니다. C는 섭씨, F는 화씨)
# C = (F - 32) / 1.8
# F = (C * 1.8) + 32