if문, for-in문, while문

# 1절 if문

In [3]:
# 점수를 입력받아 학점출력
name = "Hong"
score = int(input(name + "! Enter your score >> "))
if 90 <= score <= 100:
    grade = 'A'
elif 80 <= score < 90:
    grade = 'B'
elif 70 <= score < 80:
    grade = 'C'
elif 60 <= score < 70:
    grade = 'D'
elif 0 <= score < 60:
    grade = 'F'
else:
    grade = '유효하지 않은 점수'
print("입력하신 점수는 {}점이고, {}등급입니다".format(score, grade))

Hong! Enter your score >>  89

입력하신 점수는 89점이고, B등급입니다

# 2절 for-if문
```
for (변수) in (나열이 가능한 자료형):
    반복할 문장1
    반복할 문장2
else:
    변수에 값이 할당되지 않은 경우 한번 실행할 문장 (else구문 선택사항)
    for문 안에 break가 있을 경우 else블럭은 수행되지 않음
```

In [4]:
list(range(1, 10, 2)) # range도 나열가능한 자료

[1, 3, 5, 7, 9]

In [11]:
for i in range(1, 10, 2):
    print(i, end="\t")
else:
    print("\nDone")
print("END")

1	3	5	7	9
Done
END

In [9]:
# 1 ~ 100까지 짝수의 합을 계산하고 출력하시오
sum = 0;
for i in range(2, 101):
    if i % 2 == 0:
        sum += i
print("1부터 100까지의 짟의 합은 {}입니다".format(sum))

1부터 100까지의 짟의 합은 2550입니다

# 3절 while 문
```
while 조건:
    반복문장1
    반복문장2
else:
    조건이 거짓일 경우 한번 수행할 문장 (else는 선택사항)
    while문 내 break를 통해서 빠져 나올때는 else블럭은 수행하지 않음
```

In [12]:
# 사용자에게 두 수를 입력 받아 첫번째 수(작은수)부터 두번째 입력한 수(큰수)까지 홀수의 합 누적해서 출력
n1 = int(input('첫번째(작은수) 정수를 입력하세요 >> '))
n2 = int(input('두번째(큰수) 전수를 입력하세요 >> '))
sum = 0 # 누적변수
i = n1;
while i <= n2:
    if (i % 2 == 1) | (i % 2 == -1): # if i % 2 != 0
        sum += i
    i += 1
print("{}부터 {}까지 홀수들의 누적합은 {}".format(n1, n2, sum))

첫번째(작은수) 정수를 입력하세요 >>  10
두번째(큰수) 전수를 입력하세요 >>  20

10부터 20까지 홀수들의 누적합은 75

# 4절 break, continue

In [14]:
num = 0
while num <= 10:
    num += 1
    if num == 3:
        # break
        continue
    print("num = {}".format(num), end='\t')

num = 1	num = 2	num = 4	num = 5	num = 6	num = 7	num = 8	num = 9	num = 10	num = 11

# 5절 이중 loop

In [16]:
for i in range(1, 10):
    for j in range(2, 10):
        print("{} x {} = {:>2}\t".format(j, i, i * j), end='')
    print()

2 x 1 =  2	3 x 1 =  3	4 x 1 =  4	5 x 1 =  5	6 x 1 =  6	7 x 1 =  7	8 x 1 =  8	9 x 1 =  9
2 x 2 =  4	3 x 2 =  6	4 x 2 =  8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 =  6	3 x 3 =  9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 =  8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

# 연습문제 1

In [23]:
import random
#random.seed(7) # seed 값을 넣어주면 랜덤수가 같다 
random.randint(1, 100)

51

In [38]:
import random
num = random.randint(1, 100)
print("정답은 : {}".format(num))
min = 1
max = 100
chance = 5
while 1:
    answer = int(input(str(min) + '~' + str(max) + "숫자를 입력하세요 (남은 기회는 " + str(chance) + "번 남았습니다) >> "))
    if (answer < min) | (answer > max):
        print ("수의 범위를 벗어났습니다")
        chance -= 1
    elif answer > num:
        print("Down")
        max = answer - 1
        chance -= 1
    elif answer < num:
        print("Up")
        min = answer + 1
        chance -= 1
    else:
        print("정답입니다")
        break
    if chance == 0:
        print("5번의 기회가 끝났습니다")
        break

정답은 : 56

1~100숫자를 입력하세요 (남은 기회는 5번 남았습니다) >>  90

Down

1~89숫자를 입력하세요 (남은 기회는 4번 남았습니다) >>  100

수의 범위를 벗어났습니다

1~89숫자를 입력하세요 (남은 기회는 4번 남았습니다) >>  56

정답입니다

# 연습문제 2

In [46]:
import random
lotto = set()
while len(lotto) < 6:
    num = random.randint(1, 45)
    lotto.add(num)
print(lotto)
lotto = list(lotto)
lotto.sort()
print(lotto)

{35, 36, 37, 8, 44, 20}
[8, 20, 35, 36, 37, 44]