# 1절 파일에 데이터를 저장하고 불러오기

In [1]:
# w : 있는 파일은 기존의 파일에 덮어쓰고 없는 파일은 생성
# a : 있는 파일은 추가 / 없는 파일은 생성
# r : 읽기 전용
f = open('data/ch09.txt', 'w') # 기본값 CP949
print(f.writable())

True

In [2]:
f.write('Hello\nWorld\nHello\nPython\n반갑습니다\n') # 한글은 CP949

31

In [3]:
f.close()

In [4]:
with open('data/ch09.txt', 'r') as f:
    data = f.readlines()
    print(data)

['Hello\n', 'World\n', 'Hello\n', 'Python\n', '반갑습니다\n']

In [7]:
with open('data/ch09.txt', 'w') as f:
    print('Python is easy\n', file=f)

In [8]:
# UTF-8로 인코딩 된 CSV파일을 read
with open('data/ch09_member1.csv', 'r', encoding="utf-8") as f:
    data = f.readlines()
    for row in data:
        print(row, end="")

홍길동,20,hong@hong.com,서울시 강동구
박길서,33,park@hong.com,서울시 강동구
박길남,23,gil@hong.com,서울시 강남구
김길북,20,kim@hong.com,서울시 강북구
신길서,40,park@hong.com,서울시 강서구
신길동,28,park@hong.com,서울시 강서구

In [19]:
import pandas as pd
member1 = pd.read_csv('data/ch09_member1.csv', header=None)
member1.columns = ['name', 'age', 'email', 'address']
member1

  name  age          email  address
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   33  park@hong.com  서울시 강동구
2  박길남   23   gil@hong.com  서울시 강남구
3  김길북   20   kim@hong.com  서울시 강북구
4  신길서   40  park@hong.com  서울시 강서구
5  신길동   28  park@hong.com  서울시 강서구

In [15]:
type(member1)

pandas.core.frame.DataFrame

In [16]:
member2 = pd.read_csv('data/ch09_member2.csv', nrows=3)
member2

  name  age          email  address
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   33  park@hong.com  서울시 강동구
2  박길남   23   gil@hong.com  서울시 강남구

In [20]:
member = pd.concat([member1, member2])
member

  name  age          email  address
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   33  park@hong.com  서울시 강동구
2  박길남   23   gil@hong.com  서울시 강남구
3  김길북   20   kim@hong.com  서울시 강북구
4  신길서   40  park@hong.com  서울시 강서구
5  신길동   28  park@hong.com  서울시 강서구
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   33  park@hong.com  서울시 강동구
2  박길남   23   gil@hong.com  서울시 강남구

In [21]:
member.to_csv('data/member.csv', index=False)