리스트 [], 튜플 (), 딕셔너리{구조체와 유사}, 셋(집합)

# 1절 리스트
## 1.1 리스트 만들기
- [] 이용
- 인덱스 : 0부터 시작. -1은 맨 마지막 인덱스
- 슬라이싱 ([from : to : step])을 이용하여 추출

In [3]:
fruits = ['banana', 'apple', 'orange', 'grape', 0]
type(fruits)

list

In [4]:
print(fruits)

['banana', 'apple', 'orange', 'grape', 0]

In [5]:
print(fruits[0])

banana

In [6]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape', 0]

In [7]:
for fruit in fruits:
    print(fruit)

mango
apple
orange
grape
0

In [11]:
range(5)

range(0, 5)

In [13]:
list(range(len(fruits))) # len(fruits) => list fruits 요소의 갯수

[0, 1, 2, 3, 4]

In [14]:
for i in range(len(fruits)):
    print("{}번째 과일은 {}".format(i, fruits[i]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 grape
4번째 과일은 0

In [15]:
for idx, value in enumerate(fruits):
    print("{}번째 과일은 {}".format(idx, value))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 grape
4번째 과일은 0

 ## 1.2 기본정보 조회

In [17]:
numbers = [1, 2, 3, 4, 5]
print("요소의 수 : ", len(numbers))
print("최소값 : ", min(numbers))
print("최대값 : ", max(numbers))

요소의 수 :  5
최소값 :  1
최대값 :  5

## 1.3 요소 추가

In [18]:
# + 두 리스트를 연결
# 리스트 * n : 리스트를 n만큼 반복
# append() : 요소 뒤에 추가
# extend() : 리스트의 요소별로 뒤에 추가

In [19]:
numbers = [1, 2, 3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [22]:
numbers = [1, 2, 3]
print(numbers * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [23]:
numbers.append(4)
numbers

[1, 2, 3, 4]

In [24]:
numbers = [1, 2, 3, 4]
num = [5, 6]
#numbers를 [1, 2, 3, 4, 5, 6] vs [1, 2, 3, 4, [5, 6]]
numbers.append(num)
numbers

[1, 2, 3, 4, [5, 6]]

In [27]:
numbers = [1, 2, 3, 4]
num = [5, 6]
#numbers를 [1, 2, 3, 4, 5, 6] vs [1, 2, 3, 4, [5, 6]]
numbers.extend(num)
numbers

[1, 2, 3, 4, 5, 6]

In [28]:
numbers = [1, 2, 3, 4]
numbers.append("hello")
numbers

[1, 2, 3, 4, 'hello']

In [29]:
numbers = [1, 2, 3, 4]
numbers.extend("hello")
numbers

[1, 2, 3, 4, 'h', 'e', 'l', 'l', 'o']

## 1.4 인덱싱
- index(찾고자하는 값, 1) : 찾고자하는 값이 1번 인덱스부터 찾아 그 위치를 반환
- count(찾고자하는 값) : 찾고자하는 값이 몇번 나오는지 counter

In [31]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
print("2가 몇개인지 : {}".format(numbers.count(2)))
print("4가 몇개인지 : {}".format(numbers.count(4)))

2가 몇개인지 : 2
2가 몇개인지 : 0

In [34]:
2 in numbers # numbers 안에 2가 있는지 여부

True

In [35]:
numbers.index(2, 3) # 3번째 인덱스부터 2가 처음 나오는 인덱스를 반환

5

## 1.5 리스트의 원하는 내용만 추출
- 슬라이싱 [form:to:step]을 이용 ; 원하는 인덱스의 값 추출
- 리스트 컴프리헨션을 이용 ; 원하는 데이터만 추출

In [36]:
numbers = [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
numbers[::-1]

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]

In [37]:
numbers[::2]

[1, 5, 10, 13, 19]

In [38]:
# 값이 짝수인 데이터만 추출
result = []
for num in numbers: # [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
    if num % 2 == 0:
        result.append(num)
result

[10, 12, 18, 20]

In [40]:
# 리스크 컴프리헨션
result = [num for num in numbers if num % 2 == 0]
result

[10, 12, 18, 20]

In [43]:
# numbers 리스트의 제곱값을 리스트로 생성하여라 (컴프리헨션 이용)
numbers = [1, 3, 5]
result = [num**2 for num in numbers]
result

[1, 9, 25]

In [44]:
# 과일의 글자가 5글자 이상인 과일 추출하세요
fruits = ["orange", "apple", "mango", "kiwi"]
[fruit for fruit in fruits if len(fruit) >= 5]

['orange', 'apple', 'mango']

In [45]:
# 과일의 글자가 5글자 이상인 과일의 글자수를 출력하세요
[len(fruit) for fruit in fruits if len(fruit) >= 5]

[6, 5, 5]

## 1.6 삭제하기
- remove(data) : 해당 data가 제거
- del 리스트변수[idx] : idx번째 요소 제거
- pop() : 가장 마지작 인덱스 요소가 return 되고 삭제

In [46]:
numbers = [1, 2, 3, 4]
print(numbers.pop())
print(numbers)

4
[1, 2, 3]

In [48]:
numbers.remove(1)
print(numbers)

[2, 3]

In [49]:
numbers.remove(9) # 없는 데이터 remove시 에러

ValueError: list.remove(x): x not in list

In [50]:
del numbers[0]
print(numbers)

[3]

In [51]:
del numbers

In [52]:
numbers

NameError: name 'numbers' is not defined

## 1.7 정렬하기

In [55]:
numbers = [9, 10, 1, 5, 5]
numbers.sort()
numbers

[1, 5, 5, 9, 10]

In [56]:
numbers = [9, 10, 1, 5, 5]
numbers.sort(reverse=True) # 내림차순 정렬
numbers

[10, 9, 5, 5, 1]

## 1.8 리스트 복제

In [58]:
numbers = [6, 1, 2]
new_numbers = numbers # 얕은 복사
numbers.sort()
print('정렬 전 데이터 : ', new_numbers)
print('정렬 후 데이터 : ', numbers)

정렬 전 데이터 :  [1, 2, 6]
정렬 후 데이터 :  [1, 2, 6]

In [59]:
numbers = [6, 1, 2]
new_numbers = numbers.copy() # 깊은 복사
numbers.sort()
print('정렬 전 데이터 : ', new_numbers)
print('정렬 후 데이터 : ', numbers)

정렬 전 데이터 :  [6, 1, 2]
정렬 후 데이터 :  [1, 2, 6]

# 2절 튜플
- 리스트와 유사하지만 읽기전용
- () 이용해서 생성

In [60]:
city = ('서울', '부산', '광주', '대전')
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '광주', '대전')

In [61]:
'~'.join(city)

'서울~부산~광주~대전'

In [62]:
list_ = ['서울']
type(list_)

list

In [65]:
t = ('서울', )
type(t)

tuple

# 3절 딕셔너리
- 구조체와 유사
- {}를 이용해서 생성. key - value쌍으로 구성
- value(값)은 중복 가능하나 key는 중복 불가
- index를 이용한 참조 불가

In [67]:
dic = {'name' : '홍길동', 'address' : '서울시 금천구'}
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 'address': '서울시 금천구'}

In [69]:
dic['name'], dic['address']

('홍길동', '서울시 금천구')

In [70]:
dic['score']

KeyError: 'score'

In [71]:
dic.get('name'), dic.get('address'), dic.get('score')

('홍길동', '서울시 금천구', None)

In [74]:
# 수정
dic['score'] = 100
dic['sport'] = 'sleep'
print(dic)

{'name': '홍길동', 'address': '서울시 금천구', 'score': 100, 'sport': 'sleep'}

In [75]:
dic.pop('sport')

'sleep'

In [76]:
dic

{'name': '홍길동', 'address': '서울시 금천구', 'score': 100}

In [78]:
# 리스트(튜플, 셋) 방식으로 for문 사용하면 key만 출력
for key in dic:
    print(key)

name
address
score

In [79]:
for idx, value in enumerate(dic):
    print(idx, value)

0 name
1 address
2 score

In [80]:
dic.keys()

dict_keys(['name', 'address', 'score'])

In [81]:
dic.values()

dict_values(['홍길동', '서울시 금천구', 100])

In [82]:
dic.items()

dict_items([('name', '홍길동'), ('address', '서울시 금천구'), ('score', 100)])

In [83]:
for data in dic.values():
    print(data)

홍길동
서울시 금천구
100

In [84]:
for key, value in dic.items():
    print("{} : {}".format(key, value))

name : 홍길동
address : 서울시 금천구
score : 100

In [85]:
l = ['a', 'b', 'c']
'c' in l

True

In [86]:
dic = {'name' : '홍길동', 'score' : 100}
'name' in dic

True

In [87]:
'홍길동' in dic

False

In [88]:
len(dic) # 데이터 갯수

2

# 4절 셋
- 중복을 허용하지 않는 집합 (순서x = 인덱스x)

In [96]:
fruits = {'apple', 'orange', 'banana', 'banana', 0, 0}
print(fruits)
print(type(fruits))

{0, 'banana', 'apple', 'orange'}
<class 'set'>

In [97]:
fruits.add('kiwi')
print(fruits)

{0, 'kiwi', 'apple', 'orange', 'banana'}

In [98]:
fruits.add('banana')
print(fruits)

{0, 'kiwi', 'apple', 'orange', 'banana'}

In [ ]:
for i, value in enumerate(fruits):
    print("{} : {}".format

# 5절 연습문제

- 다음 리스트가 주어졌을 경우 요구사항대로 코드를 작성하시오
- numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [105]:
# 1. 숫자 100을 맨 뒤에 추가하세요
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [106]:
# 2. 다음 리스트를 numbers 리스트 맨 뒤에 추가하세요
# data = [200, 300, 400, 500]
data = [200, 300, 400, 500]
numbers = numbers + data
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]

In [109]:
# 3. 처음 다섯 개 숫자만 출력하세요
print(numbers[:5])

[1, 2, 3, 4, 5]

In [110]:
# 4. 리스트에서 짝수번째 데이터만 출력하세요
result = [num for num in numbers if num % 2 == 0]
result

[2, 4, 6, 8, 10, 100, 200, 300, 400, 500]