- 반복해서 사용할 코드를 묶어서 구현해 놓은 것
- 같은 이름의 함수는 덮어씀(오버로딩 불가)
- 함수 정의 (구형)
```
def 함수명([인수1, 인수2, ...]):
    명령어1
    명령어2
```

# 1절 함수의 정의 및 사용 (호출)
## 1.1 함수정의

In [8]:
def my_hello(x, msg):
    for i in range(x): #매게변수 받은 만큼 반복해라
        print(i, msg)

In [9]:
my_hello(4, '쉬는 시간입니다')

0 쉬는 시간입니다
1 쉬는 시간입니다
2 쉬는 시간입니다
3 쉬는 시간입니다

In [3]:
type(my_hello)

function

In [4]:
my_hello = 10
type(my_hello)

int

In [11]:
def my_hello(x):
    for i in range(x): 
        print(i, '함수는 복습 필수')

In [12]:
my_hello(4)

0 함수는 복습 필수
1 함수는 복습 필수
2 함수는 복습 필수
3 함수는 복습 필수

In [16]:
def my_add(num1, num2, num3=0): # num3은 기본값을 갖는 인수
                                # 기본값을 갖는 인수는 순서인수 뒤에
    return num1 + num2 + num3
print(my_add(1, 2, 3))
print(my_add(1, 2))

6
3

## 1.2 docstring
- 함수 도움말 (shift + tab으로 볼 수 있음)

In [18]:
def fibonacci(n):
    """
    인수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. 인수로 10 : 0, 1, 1, 2, 3, 5, 8
    ex. 인수로  5 : 0, 1, 1, 2, 3
    """
    a, b = 0, 1 # (a, b) = (0, 1)
    while a < n:
        print(a, end='. ')
        a, b = b, a+b
    print() # 개행

In [19]:
fibonacci(100)

0. 1. 1. 2. 3. 5. 8. 13. 21. 34. 55. 89.

In [20]:
type(fibonacci)

function

In [21]:
fibonacci

In [22]:
__name__

'__main__'

In [23]:
if __name__ == '__main__': # main 영역에서 수행될때
    fibonacci(100)

0. 1. 1. 2. 3. 5. 8. 13. 21. 34. 55. 89.

In [28]:
import fibonacci as fibo # fibonacci.py가 해석되서 메모리 로드

In [29]:
fibo.fibonacci(100)

0. 1. 1. 2. 3. 5. 8. 13. 21. 34. 55. 89.

## 1.3 지역변수(local var)와 전역변수(global var)

In [30]:
global_var = 100 # 전역변수
def func1():
    print(global_var)
func1()
print(global_var)

100
100

In [31]:
def func2():
    local_var = 100 # 지역변수 : 함수내에서만 사용 가능한 변수
    print(local_var)
func2()

100

In [36]:
g_var = 100 # 전역변수
def func3():
    g_var = 200 # 지역변수 선언
    print(g_var)
func3()

200

In [35]:
g_var

100

## 1.4 Lexical 특성

In [37]:
g_var = 100 # 전역변수
def func3():
    print(g_var) # 선언문을 먼저 컴파일한다. 지역변수로 선언했는데 할당되기 전에 print할 수 없다.
    g_var = 200 # 지역변수 선언
    print(g_var)
func3()

UnboundLocalError: cannot access local variable 'g_var' where it is not associated with a value

## 1.5 전역변수 수정

In [38]:
g_var = 100 
def func3():
    global g_var # 함수내에서의 g_var 전역변수를 쓸거야
    print(g_var) 
    g_var = 200 # 전역변수에 값을 할당
    print(g_var)
func3()

100
200

In [39]:
g_var

200

## 1.6 값에 의한 호출 (call by value)
- 함수에 인수로 전달되는 변수가 스칼라 변수(숫자, 문자, 논리)일 경우

In [40]:
foo = 'ab' # 스말라 변수
id(foo)

2440674874096

In [41]:
def func1(f):
    print("Before : {}의 주소는 {}".format(f, id(f)))
    f *= 3 # 매개변수는 지역변수
    print("After : {}의 주소는 {}".format(f, id(f)))
func1(foo)
print("함수 호출 후 foo : {}의 주소는 {}".format(foo, id(foo)))

Before : ab의 주소는 2440674874096
After : ababab의 주소는 2440805144176
함수 호출 후 foo : ab의 주소는 2440674874096

## 1.7 참조에 의한 호출 (call by reference)
- 함수에 전달되는 인수가 리스트, 딕셔너리, 셋일 경우

In [42]:
L = [1, 2, 3]
print("L의 내용은 {}, 주소는 {}".format(L, id(L)))

L의 내용은 [1, 2, 3], 주소는 2440805360512

In [44]:
def func2(f):
    print("함수 내 befer : L의 내용은 {}, 주소는 {}".format(L, id(L)))
    f.append(4)
    print("함수 내 befer : L의 내용은 {}, 주소는 {}".format(L, id(L)))
func2(L)
print("L의 내용은 {}, 주소는 {}".format(L, id(L)))

함수 내 befer : L의 내용은 [1, 2, 3, 4], 주소는 2440805360512
함수 내 befer : L의 내용은 [1, 2, 3, 4, 4], 주소는 2440805360512
L의 내용은 [1, 2, 3, 4, 4], 주소는 2440805360512

# 2절 함수의 실행결과를 반환하는 return
- 여러 개의 값을 반환할 수 있다 (하나의 튜플로 반환)

In [45]:
# 여러값을 return
def swap(a, b):
    return b, a

In [46]:
x, y = 5, 10
print("함수 실행 전 x = {}, y = {}".format(x, y))
x, y = swap(x, y)
print("함수 실행 후 x = {}, y = {}".format(x, y))

함수 실행 전 x = 5, y = 10
함수 실행 후 x = 10, y = 5

# 3절 함수의 배개변수
## 3.1 기본값을 갖는 매개변수

In [47]:
def make_url(ip, port=80):
    # 순서인수, 기본값을 갖는 인수 순으로
    return "http://{}:{}".format(ip, port)

In [48]:
print(make_url("localhost"))
print(make_url("localhost", 8090))
print(make_url(port=8090, ip="localhost"))

http://localhost:80
http://localhost:8090
http://localhost:8090

## 3.2 튜플을 매개변수로 이용한 가변인수 설정

In [56]:
# args앞에 * : args가 튜플로 전달
def add(*args):
    print("전달받은 args : ", args)
    print(type(args))
    sum = 0
    for num in args:
        sum += num;
    return sum

In [59]:
add(1, 2, 3)

전달받은 args :  (1, 2, 3)
<class 'tuple'>

6

In [60]:
def concat(*args, sep):
    return sep.join(args)

In [62]:
concat("C", "Python", "Oracle", "~")

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [63]:
# 해결책1
concat("C", "Python", "Oracle", sep="~")

'C~Python~Oracle'

In [64]:
# 해결책2
def concat(sep, *args): # 순서인수 > 튜플인수
    return sep.join(args)

In [65]:
concat("~", "C", "Python", "Oracle")

'C~Python~Oracle'

In [67]:
# 해결책3
def concat(*args, sep='/'): # 순서인수 > 튜플인수 > 키워드인수
    return sep.join(args)

In [68]:
concat("C", "Python", "Oracle", "~")

'C/Python/Oracle/~'

In [69]:
concat("C", "Python", "Oracle", sep="~")

'C~Python~Oracle'

## 3.3 딕셔너리 매개변수

In [72]:
def func(**args): # args가 딕셔너리로 전달
    print(args)
    print(type(args))
    for key, value in args.items():
        print("{} : {}".format(key, value))

In [73]:
func(name='홍길동', age=20)

{'name': '홍길동', 'age': 20}
<class 'dict'>
name : 홍길동
age : 20

In [74]:
func(gameName="서바이벌", year=2024, price=33000)

{'gameName': '서바이벌', 'year': 2024, 'price': 33000}
<class 'dict'>
gameName : 서바이벌
year : 2024
price : 33000

## 3.4 함수 정의시 매개변수의 순서
- 순서인수 > 튜풀인수(*) > 키워드인수(매개변수이름을 명시) > 딕셔너리인수(**)

In [75]:
def func(a, b, c, *d, e=10, **f):
    print('a =', a)
    print('b =', b)
    print('c =', c)
    print('d =', d)
    print('e =', e)
    print('f =', f)

In [76]:
func(10, 20, 30, 1, 2, 3, 4, 5, e=100, height=180, name="홍길동", address="서울시")

a = 10
b = 20
c = 30
d = (1, 2, 3, 4, 5)
e = 100
f = {'height': 180, 'name': '홍길동', 'address': '서울시'}

## 3.5 인수의 언패킹
### * 튜플 인수 언패킹

In [78]:
def add(*args):
    # print("전달받은 args : ", args)
    # print(type(args))
    sum = 0
    for num in args:
        sum += num;
    return sum

In [87]:
data = (1, 2, 3) # 이미 튜플로 되어 있으면 그대로 넣으면 안된다
add(*data)

6

### * 딕셔너리 인수 언패킹

In [89]:
def func(**args): # args가 딕셔너리로 전달
    # print(args)
    # print(type(args))
    for key, value in args.items():
        print("{} : {}".format(key, value))

In [91]:
dic = {"name":"홍길동", "age":30}
func(**dic)

name : 홍길동
age : 30

# 4절 람다식
- 람다식은 작은 익명함수를 의미함
- 실행할 문장을 한문장만 작성할 수 있음
- 리스트 컴프리헨션과 같이 참조해서 학습 추천
- ex. map(), filter()에서 사용할 예정

In [92]:
# 일반함수
def add(a, b):
    return a + b
add(3, 5)

8

In [93]:
type(add)

function

In [95]:
# 람다식 # 함수 매개변수로 람다 함수를 넣기 위해 사용
add = lambda a, b : a + b

In [96]:
add(5, 5)

10

In [97]:
type(add)

function

In [98]:
(lambda a, b : a + b)(5, 6)

11

## * 매개변수로 람다식 이용

In [99]:
f = lambda x : x**2
f(3)

9

In [101]:
def map_template(func, L=[]):
    result = []
    for data in L:
        result.append(func(data))
    return result

In [103]:
list_data = [1, 2, 3, 4, 5]
# map_template(f, list_data)
map_template(lambda x : x**2, list_data)

[1, 4, 9, 16, 25]

In [104]:
list(map(lambda x : x*2, list_data))

[2, 4, 6, 8, 10]

In [105]:
# 리스트 컴프리헨션이용
[x*2 for x in list_data]

[2, 4, 6, 8, 10]

In [106]:
list_data = [1, 2, 3, 4, 5]

In [107]:
def filter_template(func, L=[]):
    result = []
    for data in L:
        if func(data):
            result.append(data)
    return result

In [109]:
filter_template(lambda x : x % 2 == 0, list_data)

[2, 4]

In [110]:
list(filter(lambda x : x % 2 == 0, list_data))

[2, 4]

In [111]:
# 리스트컴프리헨션 이용
[x for x in list_data if x % 2 == 0]

[2, 4]

# 5절 파이썬 내장함수
- print처럼 import하지 않고 즉시 사용 가능한 함수

# 연습문제

In [112]:
# 1. 함수의 인자로 리스트를 받은 후, 리스트 내에 있는 모든 정수값에 대하여 최대값과 최소값을 return하는 함수 get_max_min(data_list)를 구현하고 호출하시오

In [159]:
# 2. 1 ~ 45사이의 로또번호 6개를 반환하는 make_lotto()함수를 정의하고 호출하시오  
import random
def make_lotto():  
    lotto = set()
    while len(lotto) < 6:
        num = random.randint(1, 45)
        lotto.add(num)
    lotto = list(lotto)
    lotto.sort()
    print(lotto)

In [121]:
make_lotto()

[7, 14, 15, 31, 34, 35]

In [117]:
# 3. 369게임은 숫자에 3, 6, 9가 들어가면 박수를 치고, 나머지는 숫자는 그대로 이야기하는 게임이다. 369게임을 시뮬레이션하는 함수를 정의하라

In [166]:
def game_369(L):
    result = []
    for data in L: # 튜플과 리스트 모두 가능
        data_str = str(data)
        datastr_list = list(data_str)
        clap = ''
        for s in datastr_list:
            if (int(s) != 0) & (int(s) % 3 == 0):
                clap += '짝'
        if clap:
            result.append(clap)
        else:
            result.append(data)
    return result

In [167]:
game_369([1, 2, 3, 4, 5, 6, 7, 8, 9, 13, 20, 33])

[1, 2, '짝', 4, 5, '짝', 7, 8, '짝', '짝', 20, '짝짝']